<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.volvocars.hdrppservice" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
         >

        <service
            android:name=".ShiftService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.volvocars.hdrppservice.Shifting" />
            </intent-filter>
        </service>
    </application>

</manifest>